<!-- Header Section -->
<app-header [parentSettings]="headerSettings"></app-header>
<!-- End Header Section -->

<ion-content ion-padding>
    <ion-content class="core-default-content-wrapper" fullscreen>
        <ion-card class="core-default-card __card-transparent">
            <img class="app-default-card-logo" src="/assets/img/company-logo.png" />
            <ion-card-header>
                <ion-card-subtitle>
                    <p>
                        República Dominicana
                        <br>
                        Santo Domingo
                    </p>
                </ion-card-subtitle>
                <ion-card-title>AutominicanApp</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                La Compañía Dominicana de Automotriz fue fundada en el 2002 entre Santo Domingo y Santiago de Los Caballeros. Hoy te brinda esta solución móvil para que lleves el control de toda la gestión de tus clientes para el sector automotriz y los concesionarios de vehículos a nivel nacional en las principales ciudades.
            </ion-card-content>
        </ion-card>
    </ion-content>
    <app-float-menu></app-float-menu>
</ion-content>

<!-- Header Section -->
<app-footer></app-footer>
<!-- End Header Section -->
